@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Chewy&family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html,
body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

:root {
    --main: #D30231;
    --yell: #F8AA08;
    --gr: #183B2E;
}

body {
    background: white;
    overflow-x: hidden;
}

.loader {
    position: fixed;
    top: 0;
    pointer-events: auto;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11111;
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader-cover {
    width: 80%;
    height: 80%;
    /* background: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    position: relative;
}

#loadmess {
    position: absolute;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 111111;
    /* color: var(--gr); */
    /* background: var(--main); */
    padding: 10px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1006deg);
    }
}

.loadercont {
    position: absolute;
    animation: spin 10s infinite linear;
    width: 20vw;
    border: 10px solid black;
    border-top: 10px solid#D30231;
    border-bottom: 10px solid var(--yell);
    height: 20vw;
    /* background: var(--gr); */
    animation: spin 1s infinite alternate;
    border-radius: 50%;
    /* height: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    position: absolute;
    height: 10vw;
    width: auto;
    rotate: 12deg;
}

nav {
    background: #ffffff;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #D30231;
}

nav #logo {
    width: 350px;
    height: auto;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 2px 3px 10px #ffff2b;
    /* transition: all 0.5s ease; */
    animation: logoshadow 2s ease infinite alternate-reverse;
    cursor: pointer;
}

@keyframes logoshadow {
    from {
        text-shadow: 2px 3px 10px #25ff33;
    }

    to {
        text-shadow: 2px 3px 10px #D30231;
    }
}

nav #logo:hover {
    color: #F8AA08;
    width: 350px;
    height: auto;
    font-size: 2.5em;
    font-weight: bold;
    transition: all 0.5s ease;
    text-shadow: none;
}

#logo span {

    font-weight: bold;
    color: #D30231;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: "Bangers", sans-serif;
    text-decoration: none;
    padding: 10px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: rgb(0, 0, 0);
    bottom: 5px;
    left: 0;
    transition: all 0.5s ease;
    /* transform: translateX(-100%); */
    /* transform-origin: left; */
}

nav ul li a:hover::after {
    width: 100%;
}

#carti {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    padding: 10px;
}

.cont {
    min-height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-evenly;

}

#cart {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 2em;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

#cont2 {
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;

}

.c2card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
    margin: 10px;
    /* background-color: #D30231; */
    /* color: white; */
    font-size: 1.5em;
    border-radius: 5px;
    position: relative;
    border: 1px solid black;
    text-align: center;
}

.c2card h2 {
    /* position: absolute; */
    z-index: 11;
    top: 70%;
    width: 100%;
    background-color: white;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.c2card p {
    position: absolute;
    bottom: 0;
    height: 50%;
    color: black;
    background: white;
    padding: 70px 0px 0px 0px;
}

.c2card:nth-child(1) {
    background: url("images/biryani.jpg");
    background-size: cover;
    background-position-y: -50px;
    background-repeat: no-repeat;
    /* background-color: #D30231; */
}

.c2card:nth-child(2) {
    background: url("images/buritos.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.c2card:nth-child(3) {
    background: url("images/buttercookies.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #D30231; */
}

#cartno {
    height: 20px;
    width: 20px;
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    background-color: #D30231;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    color: white;
}

#cci {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 3vw;

}

.cartcontent {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    transform: translateX(100%);
    /* visibility: hidden; */
    transition: opacity 0.5s ease;
    z-index: 111;
}

#checkout {
    text-decoration: none;
    position: absolute;
    bottom: 2%;
    right: 5%;
}

#c1l,
#c1r {
    min-height: 100%;
    min-width: 50%;
}

#c1l {
    min-height: 100vh;
    background: url("images/landing.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#c1r {
    display: flex;
    padding: 30px;
    /* background-color: #F8AA08; */
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#cont3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.c2content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
}

.c2cimages {
    margin: auto 30px;
    height: 60%;
    position: relative;
    width: 40%;
    border-radius: 30px;
    overflow: hidden;
}

.c2cimages img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.c2cimages h2,
.c2cimages p {
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* text-align: end; */
}

#cont4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.c4content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: auto;
    /* flex-direction: column; */
}

.c4cimages {
    margin: 10px;
    height: 100px;
    padding: 20px;
    width: calc(100%/4);
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-template-columns: repeat(2, 300px 1fr);
    position: relative;
}

#chevronr {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 2vw;
    /* font-weight: 400; */
    cursor: pointer;
}

/*Sign In and up related  */
.signup-cover {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 0;
}

.signup-cover .imgleft {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.signup-cover .imgleft img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* overflow: hidden; */
}

#signu {
    height: 100%;
    width: 50%;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    /* visibility: hidden; */
    /* opacity: 0; */
    /* transform: scale(0.9); */
    transition: opacity 0.3s ease, transform 0.3s ease;
}


#signuc {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15),
        0 2px 4px rgba(255, 0, 0, 0.2);
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;

}

#signuc h2 {
    font-size: 3vw;
    color: rgb(0, 0, 0);
}

#signupform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 50%;
    /* z-index: -1; */
}

.sli {
    width: 100px;
    margin: auto 30px;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

#signupform input[type="text"],
#signupform input[type="email"],
#signupform input[type="password"],
#signupform input[type="submit"] {
    width: 55%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.btn-grad {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%)
}

.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


/* SIgnIN */


.signin-cover {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.signin-cover .imgleft {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.signin-cover .imgleft img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
    /* overflow: hidden; */
}

#signi {
    padding: 50px;
    text-align: center;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;

}

#signic {
    padding: 20px;
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;

}

#signic h2 {
    font-size: 3vw;
    color: rgb(0, 0, 0);
}

#signinform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 50%;
}

#signinform input[type="text"],
#signinform input[type="email"],
#signinform input[type="password"],
#signinform input[type="submit"] {
    width: 55%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.btn-grad {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%)
}

.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

footer {
    /* position: fixed; */
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;

}